<section class="card card-body col-sm-6 center col-sm-offset-3 mx-auto mt-5 mb-5">
    <h1 class="text-center card-title">
        <% if (question.length) { %>
        <%= question[0].survey %>
        <% } else { %>
        Looks like you have no more questions for this survey
        <p class="small-txt mt-2">Click on the forms nav button above to create a new form or look at forms you've
            already
            created</p>
        <% } %>
    </h1>
</section>

<% if (isEditing && question.length) {%>
<section class="sticky">
    <section class="float-right text-center bg-dark text-white p-2 navbar">
        <label class="pr-3" for="url">Url to current survey</label>
        <input type="text" value="http://localhost:7000/forms?survey=<%= question[0].survey %>&isTaking=yes" id="url">
    </section>
    <!-- <section class="bg-dark p-2 mb-3"></section> -->
    <section class="mx-auto text-center bg-dark p-2 mb-3 fixed">
        <a class="btn btn-dark mb-3 editNav sticky" href="/edit?survey=<%= question[0].survey %>">Add Question</a>
    </section>
</section>

<%} %>

<% if (!isEditing) {%>



<form action="/forms/_id/answer" method="post">
    <label>Username</label for="userID">
    <input type="text" required>
    <input type="submit" class="btn btn-dark" value="Submit">
    <%} %>

    <% for(var i=0; i<question.length; i++) {%>
    <section class="card card-body question mt-5">
        <% if (isEditing) {%>
        <section class="float-right questionSp">
            <span class="float-right delete-question" data-question="<%= question[i].question %>">
                <a><i class="fas fa-times-circle ex-circle"></i></a></span>
        </section>
        <form action="/forms" method="post">
            <%} %>



            <section class="form-group question-form">
                <input type="hidden" value="<%= question[i].id %>" name="questionID[]">
                <% console.log(question[i]) %>
                <input type="hidden" value="<%= question[i].survey %>" name="surveyID[]">
            </section>
            <section class="form-group">

                <label class="question-label" for="answer">
                    <%= question[i].question %>
                </label>
                <% if (!isEditing) { %>
                <section class="row justify-content-between">
                    <textarea class="form-control mx-3" name="answer[]" required></textarea>
                </section>
                <% } %>


            </section>
            <% if (isEditing) {%>
        </form>
        <% } %>
    </section>
    <% } %>
    <% if (!isEditing) {%>
</form>
<% } %>